api/services/rag_pipeline/transform/file-parentchild.yml
dependencies:
- current_identifier: null
  type: marketplace
  value:
    plugin_unique_identifier: langgenius/parentchild_chunker:0.0.1@b1a28a27e33fec442ce494da2a7814edd7eb9d646c81f38bccfcf1133d486e40
- type: marketplace
  value:
    plugin_unique_identifier: mmb/mmb_material_preprocessor:0.1.1@98c6547faf8c407d083571f847c190d5d7e7e4e9326b7a336cb3221d609983f4
kind: rag_pipeline
rag_pipeline:
  description: 统一多格式材料导入：视觉材料走 MinerU 解析，表格和文本走结构化轻量解析。
  icon: 📙
  icon_background: '#FFF4ED'
  icon_type: emoji
  name: file-parentchild
version: 0.1.0
workflow:
  conversation_variables: []
  environment_variables: []
  features: {}
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: datasource
        targetType: if-else
      id: 1752479895761-source-1752481129417-target
      source: '1752479895761'
      sourceHandle: source
      target: '1752481129417'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: tool
      id: 1752481129417-24e47cad-f1e2-4f74-9884-3f49d5bb37b7-1752480460682-target
      source: '1752481129417'
      sourceHandle: 24e47cad-f1e2-4f74-9884-3f49d5bb37b7
      target: '1752480460682'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: document-extractor
      id: 1752481129417-false-1752481112180-target
      source: '1752481129417'
      sourceHandle: 'false'
      target: '1752481112180'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: variable-aggregator
      id: 1752480460682-source-1752482022496-target
      source: '1752480460682'
      sourceHandle: source
      target: '1752482022496'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: document-extractor
        targetType: variable-aggregator
      id: 1752481112180-source-1752482022496-target
      source: '1752481112180'
      sourceHandle: source
      target: '1752482022496'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: variable-aggregator
        targetType: tool
      id: 1752482022496-source-1752575473519-target
      source: '1752482022496'
      sourceHandle: source
      target: '1752575473519'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: knowledge-index
      id: 1752575473519-source-1752477924228-target
      source: '1752575473519'
      sourceHandle: source
      target: '1752477924228'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        chunk_structure: hierarchical_model
        embedding_model: text-embedding-ada-002
        embedding_model_provider: langgenius/openai/openai
        index_chunk_variable_selector:
        - '1752575473519'
        - result
        indexing_technique: high_quality
        keyword_number: 10
        retrieval_model:
          score_threshold: 0.5
          score_threshold_enabled: false
          search_method: semantic_search
          top_k: 3
          vector_setting:
            embedding_model_name: text-embedding-ada-002
            embedding_provider_name: langgenius/openai/openai
        selected: false
        title: Knowledge Base
        type: knowledge-index
      height: 114
      id: '1752477924228'
      position:
        x: 994.3774545394483
        y: 281.3910724383104
      positionAbsolute:
        x: 994.3774545394483
        y: 281.3910724383104
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        datasource_configurations: {}
        datasource_label: File
        datasource_name: upload-file
        datasource_parameters: {}
        fileExtensions:
        - pdf
        - ppt
        - pptx
        - doc
        - docx
        - png
        - jpg
        - jpeg
        - xls
        - xlsx
        - csv
        - txt
        - md
        - markdown
        - mdx
        - json
        - yaml
        - yml
        - xml
        - html
        - htm
        plugin_id: langgenius/file
        provider_name: file
        provider_type: local_file
        selected: false
        title: File
        type: datasource
      height: 52
      id: '1752479895761'
      position:
        x: -839.8603427660498
        y: 251.3910724383104
      positionAbsolute:
        x: -839.8603427660498
        y: 251.3910724383104
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        output_schema:
          properties:
            compression_report:
              type: object
            file_metadata:
              type: object
            json:
              type: object
            text:
              type: string
          type: object
        paramSchemas:
        - form: llm
          human_description:
            en_US: The original material file to normalize and parse.
            zh_Hans: 需要归一化并解析的原始材料文件。
          label:
            en_US: File
            zh_Hans: 文件
          llm_description: 'Original material file. Supported: pdf, doc, docx, ppt,
            pptx, png, jpg, jpeg.'
          name: file
          required: true
          type: file
        - default: auto
          form: form
          label:
            en_US: Parse Method
            zh_Hans: 解析模式
          name: parse_method
          options:
          - label:
              en_US: Auto
              zh_Hans: 自动
            value: auto
          - label:
              en_US: OCR
              zh_Hans: OCR
            value: ocr
          - label:
              en_US: Text
              zh_Hans: 文本
            value: txt
          required: false
          type: select
        - default: ch
          form: form
          label:
            en_US: OCR Language
            zh_Hans: OCR 语言
          name: language
          required: false
          type: string
        - default: 1800
          form: form
          label:
            en_US: Max Long Edge
            zh_Hans: 图片最长边
          max: 4000
          min: 800
          name: max_long_edge
          required: false
          type: number
        - default: 82
          form: form
          label:
            en_US: JPEG Quality
            zh_Hans: JPEG 质量
          max: 95
          min: 50
          name: jpeg_quality
          required: false
          type: number
        - default: 30
          form: form
          label:
            en_US: Large File Threshold MB
            zh_Hans: 大文件阈值 MB
          max: 500
          min: 1
          name: large_file_mb
          required: false
          type: number
        plugin_id: mmb/mmb_material_preprocessor
        provider_id: mmb/mmb_material_preprocessor/mmb_material_preprocessor
        provider_name: mmb_material_preprocessor
        provider_type: builtin
        selected: false
        title: MMB Normalize + MinerU Parse
        tool_configurations:
          jpeg_quality:
            type: constant
            value: 82
          language:
            type: constant
            value: ch
          large_file_mb:
            type: constant
            value: 30
          max_long_edge:
            type: constant
            value: 1800
          parse_method:
            type: constant
            value: auto
        tool_description: Normalize large materials, preserve original files, parse
          MinerU formats, and extract image OCR text.
        tool_label: Normalize and Parse File
        tool_name: normalize-file
        tool_parameters:
          file:
            type: variable
            value:
            - '1752479895761'
            - file
        type: tool
        tool_node_version: '2'
      height: 52
      id: '1752480460682'
      position:
        x: -108.28652292656551
        y: 281.3910724383104
      positionAbsolute:
        x: -108.28652292656551
        y: 281.3910724383104
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_array_file: false
        selected: false
        title: 表格/文本提取器
        type: document-extractor
        variable_selector:
        - '1752479895761'
        - file
      height: 90
      id: '1752481112180'
      position:
        x: -108.28652292656551
        y: 390.6576481692478
      positionAbsolute:
        x: -108.28652292656551
        y: 390.6576481692478
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 24e47cad-f1e2-4f74-9884-3f49d5bb37b7
          conditions:
          - comparison_operator: is
            id: 4acbafc7-4f77-4a61-8bdb-fc4f60326101
            value: .pdf
            varType: file
            variable_selector:
            - '1752479895761'
            - file
            - extension
          - comparison_operator: is
            id: 65f801fa-a9da-4c08-84c6-21068eed1665
            value: .ppt
            varType: file
            variable_selector:
            - '1752479895761'
            - file
            - extension
          - comparison_operator: is
            id: a2d03d03-a210-48d2-a4db-bbb54b153292
            value: .pptx
            varType: file
            variable_selector:
            - '1752479895761'
            - file
            - extension
          - comparison_operator: is
            id: bb776f32-0efb-43a0-9023-92b76cabf952
            value: .doc
            varType: file
            variable_selector:
            - '1752479895761'
            - file
            - extension
          - comparison_operator: is
            id: 2d7ea860-bf88-41ea-8ce8-a552fdc307ce
            value: .docx
            varType: file
            variable_selector:
            - '1752479895761'
            - file
            - extension
          - comparison_operator: is
            id: d4b0a32b-8fe7-46e3-b1c1-76c8da7fe817
            value: .png
            varType: file
            variable_selector:
            - '1752479895761'
            - file
            - extension
          - comparison_operator: is
            id: b9cb1244-b559-4a3f-b1b5-bcbf49d23c0a
            value: .jpg
            varType: file
            variable_selector:
            - '1752479895761'
            - file
            - extension
          - comparison_operator: is
            id: 4487e978-5c9b-450f-910b-2ef2ac97b2d9
            value: .jpeg
            varType: file
            variable_selector:
            - '1752479895761'
            - file
            - extension
          id: 24e47cad-f1e2-4f74-9884-3f49d5bb37b7
          logical_operator: or
        selected: false
        title: IF/ELSE
        type: if-else
      height: 358
      id: '1752481129417'
      position:
        x: -512.2335487893622
        y: 251.3910724383104
      positionAbsolute:
        x: -512.2335487893622
        y: 251.3910724383104
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        advanced_settings:
          group_enabled: false
          groups:
          - groupId: f4cf07b4-914d-4544-8ef8-0c5d9e4f21a7
            group_name: Group1
            output_type: string
            variables:
            - - '1752481112180'
              - text
            - - '1752480460682'
              - text
        output_type: string
        selected: false
        title: Variable Aggregator
        type: variable-aggregator
        variables:
        - - '1752481112180'
          - text
        - - '1752480460682'
          - text
      height: 129
      id: '1752482022496'
      position:
        x: 319.441649575055
        y: 281.3910724383104
      positionAbsolute:
        x: 319.441649575055
        y: 281.3910724383104
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        output_schema:
          properties:
            result:
              description: Parent child chunks result
              items:
                type: object
              type: array
          type: object
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The text you want to chunk.
            ja_JP: チャンク化したいテキスト。
            pt_BR: O texto que você deseja dividir.
            zh_Hans: 你想要分块的文本。
          label:
            en_US: Input text
            ja_JP: 入力テキスト
            pt_BR: Texto de entrada
            zh_Hans: 输入文本
          llm_description: The text you want to chunk.
          max: null
          min: null
          name: input_text
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: 1024
          form: llm
          human_description:
            en_US: Maximum length for chunking
            ja_JP: チャンク分割の最大長
            pt_BR: Comprimento máximo para divisão
            zh_Hans: 用于分块的最大长度
          label:
            en_US: Maximum Length
            ja_JP: 最大長
            pt_BR: Comprimento Máximo
            zh_Hans: 最大长度
          llm_description: Maximum length allowed per chunk
          max: null
          min: null
          name: max_length
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: '


            '
          form: llm
          human_description:
            en_US: Separator used for chunking
            ja_JP: チャンク分割に使用する区切り文字
            pt_BR: Separador usado para divisão
            zh_Hans: 用于分块的分隔符
          label:
            en_US: Chunk Separator
            ja_JP: チャンク区切り文字
            pt_BR: Separador de Divisão
            zh_Hans: 分块分隔符
          llm_description: The separator used to split chunks
          max: null
          min: null
          name: separator
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: 512
          form: llm
          human_description:
            en_US: Maximum length for subchunking
            ja_JP: サブチャンク分割の最大長
            pt_BR: Comprimento máximo para subdivisão
            zh_Hans: 用于子分块的最大长度
          label:
            en_US: Subchunk Maximum Length
            ja_JP: サブチャンク最大長
            pt_BR: Comprimento Máximo de Subdivisão
            zh_Hans: 子分块最大长度
          llm_description: Maximum length allowed per subchunk
          max: null
          min: null
          name: subchunk_max_length
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: '. '
          form: llm
          human_description:
            en_US: Separator used for subchunking
            ja_JP: サブチャンク分割に使用する区切り文字
            pt_BR: Separador usado para subdivisão
            zh_Hans: 用于子分块的分隔符
          label:
            en_US: Subchunk Separator
            ja_JP: サブチャンキング用セパレーター
            pt_BR: Separador de Subdivisão
            zh_Hans: 子分块分隔符
          llm_description: The separator used to split subchunks
          max: null
          min: null
          name: subchunk_separator
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: paragraph
          form: llm
          human_description:
            en_US: Split text into paragraphs based on separator and maximum chunk
              length, using split text as parent block or entire document as parent
              block and directly retrieve.
            ja_JP: セパレーターと最大チャンク長に基づいてテキストを段落に分割し、分割されたテキスト を親ブロックとして使用するか、文書全体を親ブロックとして使用して直接取得します。
            pt_BR: Dividir texto em parágrafos com base no separador e no comprimento
              máximo do bloco, usando o texto dividido como bloco pai ou documento
              completo como bloco pai e diretamente recuperá-lo.
            zh_Hans: 根据分隔符和最大块长度将文本拆分为段落，使用拆分文本作为检索的父块或整个文档用作父块并直接检索。
          label:
            en_US: Parent Mode
            ja_JP: 親子モード
            pt_BR: Modo Pai
            zh_Hans: 父块模式
          llm_description: Split text into paragraphs based on separator and maximum
            chunk length, using split text as parent block or entire document as parent
            block and directly retrieve.
          max: null
          min: null
          name: parent_mode
          options:
          - icon: ''
            label:
              en_US: Paragraph
              ja_JP: 段落
              pt_BR: Parágrafo
              zh_Hans: 段落
            value: paragraph
          - icon: ''
            label:
              en_US: Full Document
              ja_JP: 全文
              pt_BR: Documento Completo
              zh_Hans: 全文
            value: full_doc
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: 0
          form: llm
          human_description:
            en_US: Whether to remove extra spaces in the text
            ja_JP: テキスト内の余分なスペースを削除するかどうか
            pt_BR: Se deve remover espaços extras no texto
            zh_Hans: 是否移除文本中的多余空格
          label:
            en_US: Remove Extra Spaces
            ja_JP: 余分なスペースを削除
            pt_BR: Remover Espaços Extras
            zh_Hans: 移除多余空格
          llm_description: Whether to remove extra spaces in the text
          max: null
          min: null
          name: remove_extra_spaces
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: 0
          form: llm
          human_description:
            en_US: Whether to remove URLs and emails in the text
            ja_JP: テキスト内のURLやメールアドレスを削除するかどうか
            pt_BR: Se deve remover URLs e e-mails no texto
            zh_Hans: 是否移除文本中的URL和电子邮件地址
          label:
            en_US: Remove URLs and Emails
            ja_JP: URLとメールアドレスを削除
            pt_BR: Remover URLs e E-mails
            zh_Hans: 移除URL和电子邮件地址
          llm_description: Whether to remove URLs and emails in the text
          max: null
          min: null
          name: remove_urls_emails
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        params:
          input_text: ''
          max_length: ''
          parent_mode: ''
          remove_extra_spaces: ''
          remove_urls_emails: ''
          separator: ''
          subchunk_max_length: ''
          subchunk_separator: ''
        provider_id: langgenius/parentchild_chunker/parentchild_chunker
        provider_name: langgenius/parentchild_chunker/parentchild_chunker
        provider_type: builtin
        selected: false
        title: Parent-child Chunker
        tool_configurations: {}
        tool_description: Parent-child Chunk Structure
        tool_label: Parent-child Chunker
        tool_name: parentchild_chunker
        tool_parameters:
          input_text:
            type: mixed
            value: '{{#1752482022496.output#}}'
          max_length:
            type: variable
            value:
            - rag
            - shared
            - max_chunk_length
          parent_mode:
            type: variable
            value:
            - rag
            - shared
            - parent_mode
          remove_extra_spaces:
            type: mixed
            value: '{{#rag.shared.replace_consecutive_spaces#}}'
          remove_urls_emails:
            type: mixed
            value: '{{#rag.shared.delete_urls_email#}}'
          separator:
            type: mixed
            value: '{{#rag.shared.delimiter#}}'
          subchunk_max_length:
            type: variable
            value:
            - rag
            - shared
            - child_max_chunk_length
          subchunk_separator:
            type: mixed
            value: '{{#rag.shared.child_delimiter#}}'
        type: tool
      height: 52
      id: '1752575473519'
      position:
        x: 637.9241611063885
        y: 281.3910724383104
      positionAbsolute:
        x: 637.9241611063885
        y: 281.3910724383104
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 948.6766333808323
      y: -102.06757184183238
      zoom: 0.8375774577380971
  rag_pipeline_variables:
  - allow_file_extension: null
    allow_file_upload_methods: null
    allowed_file_types: null
    belong_to_node_id: shared
    default_value: \n\n
    label: Delimiter
    max_length: 256
    options: []
    placeholder: null
    required: true
    tooltips: A delimiter is the character used to separate text. \n\n is recommended
      for splitting the original document into large parent chunks. You can also use
      special delimiters defined by yourself.
    type: text-input
    unit: null
    variable: delimiter
  - allow_file_extension: null
    allow_file_upload_methods: null
    allowed_file_types: null
    belong_to_node_id: shared
    default_value: 1024
    label: Maximum chunk length
    max_length: 48
    options: []
    placeholder: null
    required: true
    tooltips: null
    type: number
    unit: characters
    variable: max_chunk_length
  - allow_file_extension: null
    allow_file_upload_methods: null
    allowed_file_types: null
    belong_to_node_id: shared
    default_value: \n
    label: Child delimiter
    max_length: 256
    options: []
    placeholder: null
    required: true
    tooltips: A delimiter is the character used to separate text. \n\n is recommended
      for splitting the original document into large parent chunks. You can also use
      special delimiters defined by yourself.
    type: text-input
    unit: null
    variable: child_delimiter
  - allow_file_extension: null
    allow_file_upload_methods: null
    allowed_file_types: null
    belong_to_node_id: shared
    default_value: 512
    label: Child max chunk length
    max_length: 48
    options: []
    placeholder: null
    required: true
    tooltips: null
    type: number
    unit: characters
    variable: child_max_chunk_length
  - allow_file_extension: null
    allow_file_upload_methods: null
    allowed_file_types: null
    belong_to_node_id: shared
    default_value: paragraph
    label: Parent mode
    max_length: 48
    options:
    - full_doc
    - paragraph
    placeholder: null
    required: true
    tooltips: null
    type: select
    unit: null
    variable: parent_mode
  - allow_file_extension: null
    allow_file_upload_methods: null
    allowed_file_types: null
    belong_to_node_id: shared
    default_value: null
    label: Replace consecutive spaces, newlines and tabs
    max_length: 48
    options: []
    placeholder: null
    required: false
    tooltips: null
    type: checkbox
    unit: null
    variable: replace_consecutive_spaces
  - allow_file_extension: null
    allow_file_upload_methods: null
    allowed_file_types: null
    belong_to_node_id: shared
    default_value: null
    label: Delete all URLs and email addresses
    max_length: 48
    options: []
    placeholder: null
    required: false
    tooltips: null
    type: checkbox
    unit: null
    variable: delete_urls_email
